<?xml version="1.0" encoding="UTF-8"?>

<beans resource="https://pypi.org/project/pyBean/">
    <import resource="resource/daos.xml"/>

    <bean id="payImp88" class="imp.payImp.PayImp">
        <constructor-arg value="0.88"/>
    </bean>
    <bean id="payImp85" class="imp.payImp.PayImp">
        <constructor-arg value="0.85"/>
    </bean>
    <bean id="bookImp" class="imp.bookImp.BookDaoImp" >
        <constructor-arg value="西游记"/>
        <property name="dao" ref="bookDao"/>
        <property name="brotherImp" ref="bookImp2"/>
        <property name="price" value="70"/>
        <property name="discount" value="0.95"/>

    </bean>
    <bean id="bookImp2" class="imp.bookImp.BookDaoImp" >
        <constructor-arg value="三国演义"/>
        <property name="dao" ref="bookDao"/>

    </bean>



</beans>